<a href="https://colab.research.google.com/github/TonyDql/summer2023_educ_proj/blob/main/Copy_of_data_cleaning_qilong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/rawdata_longform_full_08-19-22.csv')

In [ ]:
print(df.columns)

Index(['ID', 'Global_timestamp', 'Timestamp', 'Event type', 'Event', 'Level',
       'Details', 'filename', 'epoch_time', 'object_orientation',
       'x_coordinate', 'y_coordinate', 'objects'],
      dtype='object')

In [ ]:
print(df.head(20))

     ID Global_timestamp  Timestamp Event type          Event  \
0   100        0:0:0:000  0:0:0:000      event  session_start
1   100        0:0:9:583  0:0:0:000      event          start
2   100        0:0:9:583  0:0:0:000      event    init_object
3   100        0:0:9:583  0:0:0:000      event    init_object
4   100        0:0:9:583  0:0:0:000      event    init_object
5   100        0:0:9:583  0:0:0:000      event    init_object
6   100        0:0:9:583  0:0:0:000      event    init_object
7   100        0:0:9:583  0:0:0:000      event    init_object
8   100        0:0:9:583  0:0:0:000      event    init_object
9   100        0:0:9:583  0:0:0:000      event    init_object
10  100        0:0:9:583  0:0:0:000      event    init_object
11  100        0:0:9:583  0:0:0:000      event    init_object
12  100        0:0:9:583  0:0:0:000      event    init_object
13  100        0:0:9:583  0:0:0:000      event    init_object
14  100        0:0:9:583  0:0:0:000      event    init_object
15  100        0:0:9:583  0:0:0:000      event    init_object
16  100        0:0:9:583  0:0:0:000      event    init_object
17  100        0:0:9:583  0:0:0:000      event    init_object
18  100        0:0:9:583  0:0:0:000      event    init_object
19  100        0:0:9:583  0:0:0:000      event    init_object

                 Level              Details   filename     epoch_time  \
0                  NaN  26/01/2022 18:02:52  100_0.txt  1643220172000
1               0level                  NaN  100_0.txt  1643220181583
2   0level:baba is you       text_baba:12:7  100_0.txt  1643220181583
3   0level:baba is you            wall:12:9  100_0.txt  1643220181583
4   0level:baba is you           tile:12:10  100_0.txt  1643220181583
5   0level:baba is you           tile:12:11  100_0.txt  1643220181583
6   0level:baba is you           tile:12:12  100_0.txt  1643220181583
7   0level:baba is you           wall:12:13  100_0.txt  1643220181583
8   0level:baba is you      text_wall:12:15  100_0.txt  1643220181583
9   0level:baba is you         text_is:13:7  100_0.txt  1643220181583
10  0level:baba is you            wall:13:9  100_0.txt  1643220181583
11  0level:baba is you           tile:13:10  100_0.txt  1643220181583
12  0level:baba is you           baba:13:11  100_0.txt  1643220181583
13  0level:baba is you           tile:13:12  100_0.txt  1643220181583
14  0level:baba is you           wall:13:13  100_0.txt  1643220181583
15  0level:baba is you        text_is:13:15  100_0.txt  1643220181583
16  0level:baba is you        text_you:14:7  100_0.txt  1643220181583
17  0level:baba is you            wall:14:9  100_0.txt  1643220181583
18  0level:baba is you           tile:14:10  100_0.txt  1643220181583
19  0level:baba is you           tile:14:11  100_0.txt  1643220181583

    object_orientation x_coordinate y_coordinate    objects
0                  NaN         None         None       None
1                  NaN          NaN          NaN        NaN
2                  NaN           12            7  text_baba
3                  NaN           12            9       wall
4                  NaN           12           10       tile
5                  NaN           12           11       tile
6                  NaN           12           12       tile
7                  NaN           12           13       wall
8                  NaN           12           15  text_wall
9                  NaN           13            7    text_is
10                 NaN           13            9       wall
11                 NaN           13           10       tile
12                 NaN           13           11       baba
13                 NaN           13           12       tile
14                 NaN           13           13       wall
15                 NaN           13           15    text_is
16                 NaN           14            7   text_you
17                 NaN           14            9       wall
18                 NaN           14           10       tile
19                 NaN           14           11       tile

Below is to drop all the rows with Event value ('session_start', 'start', 'init_object')

In [ ]:
events_to_drop = ['session_start', 'start', 'init_object']
df1 = df[~df['Event'].isin(events_to_drop)]
print(df1.head(10))

     ID Global_timestamp   Timestamp Event type     Event               Level  \
69  100        0:0:9:583   0:0:0:000      event  rule_add  0level:baba is you
70  100        0:0:9:583   0:0:0:000      event  rule_add  0level:baba is you
71  100        0:0:9:583   0:0:0:000      event  rule_add  0level:baba is you
72  100        0:0:9:583   0:0:0:000      event  rule_add  0level:baba is you
73  100       0:0:55:300  0:0:45:716     change    update  0level:baba is you
74  100       0:0:55:300  0:0:45:716      input     right  0level:baba is you
75  100       0:0:55:466  0:0:45:883     change    update  0level:baba is you
76  100       0:0:55:466  0:0:45:883      input     right  0level:baba is you
77  100       0:0:55:633  0:0:46:050     change    update  0level:baba is you
78  100       0:0:55:633  0:0:46:050      input     right  0level:baba is you

                Details   filename     epoch_time  object_orientation  \
69    12:7:baba is you   100_0.txt  1643220181583                 NaN
70  12:15:wall is stop   100_0.txt  1643220181583                 NaN
71    20:7:flag is win   100_0.txt  1643220181583                 NaN
72  20:15:rock is push   100_0.txt  1643220181583                 NaN
73         baba:14:11:0  100_0.txt  1643220227300                 0.0
74                  NaN  100_0.txt  1643220227300                 NaN
75         baba:15:11:0  100_0.txt  1643220227466                 0.0
76                  NaN  100_0.txt  1643220227466                 NaN
77         baba:16:11:0  100_0.txt  1643220227633                 0.0
78                  NaN  100_0.txt  1643220227633                 NaN

   x_coordinate y_coordinate        objects
69           12            7   baba is you
70           12           15  wall is stop
71           20            7   flag is win
72           20           15  rock is push
73           14           11           baba
74          NaN          NaN            NaN
75           15           11           baba
76          NaN          NaN            NaN
77           16           11           baba
78          NaN          NaN            NaN

In [ ]:
df1 = df1.sort_values('ID')
df2 = df1.head(15000)
print(df2)

          ID Global_timestamp   Timestamp Event type       Event  \
5791297    1       0:15:8:533  0:4:11:983     change      update
5781866    1      0:14:59:433  0:2:14:666     change      update
5781865    1      0:14:59:433  0:2:14:666     change      update
5781864    1      0:14:59:083  0:2:14:316      input        down
5781881    1       0:15:2:033  0:2:17:266      input       right
...       ..              ...         ...        ...         ...
10481590   2      0:21:37:666  0:0:37:450     change      update
10481323   2      0:20:59:250   0:0:3:100     change   mapcursor
10481318   2      0:20:56:150   0:0:0:000      event  new_object
10481325   2      0:20:59:250   0:0:3:100      input        left
10481498   2       0:21:0:216   0:0:0:000      event    rule_add

                               Level              Details filename  \
5791297            6level:grass yard          flag:17:3:0  1_2.txt
5781866          3level:out of reach          baba:9:11:2  1_1.txt
5781865          3level:out of reach         baba:10:11:2  1_1.txt
5781864          3level:out of reach                  NaN  1_1.txt
5781881          3level:out of reach                  NaN  1_1.txt
...                              ...                  ...      ...
10481590  17level:unreachable shores         keke:14:11:2  2_2.txt
10481323    206level:3. temple ruins              8:2:233  2_2.txt
10481318    206level:3. temple ruins           level:17:6  2_2.txt
10481325    206level:3. temple ruins                  NaN  2_2.txt
10481498  17level:unreachable shores  1:16:text is float   2_2.txt

             epoch_time  object_orientation x_coordinate y_coordinate  \
5791297   1636286131533                 0.0           17            3
5781866   1636283930433                 2.0            9           11
5781865   1636283930433                 2.0           10           11
5781864   1636283930083                 NaN          NaN          NaN
5781881   1636283933033                 NaN          NaN          NaN
...                 ...                 ...          ...          ...
10481590  1636295088666                 2.0           14           11
10481323  1636295050250                 NaN            2          233
10481318  1636295047150                 NaN           17            6
10481325  1636295050250                 NaN          NaN          NaN
10481498  1636295051216                 NaN            1           16

                 objects
5791297             flag
5781866             baba
5781865             baba
5781864              NaN
5781881              NaN
...                  ...
10481590            keke
10481323               8
10481318           level
10481325             NaN
10481498  text is float

[15000 rows x 13 columns]

In [ ]:
track_id = 1
track_task_id = 1
level_list = list()
task_id_list = list()
max_task_id = 0
for index, row in df2.iterrows():
  if row['Level'] not in level_list and row['ID'] == track_id:
    task_id_list.append(track_task_id + max_task_id)
    track_task_id = track_task_id + 1
    level_list.append(row['Level'])
  elif row['Level'] in level_list and row['ID'] == track_id:
    task_id_list.append(level_list.index(row['Level']) + 1 + max_task_id)
  if row['ID'] != track_id:
    level_list = list()
    track_id = row['ID']
    max_task_id = max(task_id_list)
    task_id_list.append(track_task_id + max_task_id)
    track_task_id = track_task_id + 1
    level_list.append(row['Level'])

In [ ]:
df3 = df2.copy()
df3['task_id'] = task_id_list
print(df3.tail(50)[['ID', 'Level', 'task_id']])

          ID                       Level  task_id
10481557   2  17level:unreachable shores       30
10481561   2  17level:unreachable shores       30
10481053   2   58level:a present for you       24
10481567   2  17level:unreachable shores       30
10480997   2   58level:a present for you       24
10481579   2  17level:unreachable shores       30
10481573   2  17level:unreachable shores       30
10481005   2   58level:a present for you       24
10481572   2  17level:unreachable shores       30
10480973   2   58level:a present for you       24
10481602   2  17level:unreachable shores       30
10482314   2  17level:unreachable shores       30
10482321   2  17level:unreachable shores       30
10481606   2  17level:unreachable shores       30
10481607   2  17level:unreachable shores       30
10481608   2  17level:unreachable shores       30
10481609   2  17level:unreachable shores       30
10481610   2  17level:unreachable shores       30
10481611   2  17level:unreachable shores       30
10481600   2  17level:unreachable shores       30
10481605   2  17level:unreachable shores       30
10481596   2  17level:unreachable shores       30
10481594   2  17level:unreachable shores       30
10481580   2  17level:unreachable shores       30
10481604   2  17level:unreachable shores       30
10481581   2  17level:unreachable shores       30
10481583   2  17level:unreachable shores       30
10481584   2  17level:unreachable shores       30
10481585   2  17level:unreachable shores       30
10481595   2  17level:unreachable shores       30
10481315   2    206level:3. temple ruins       26
10481079   2   58level:a present for you       24
10481578   2  17level:unreachable shores       30
10481599   2  17level:unreachable shores       30
10481598   2  17level:unreachable shores       30
10481533   2  17level:unreachable shores       30
10481506   2  17level:unreachable shores       30
10481582   2  17level:unreachable shores       30
10481597   2  17level:unreachable shores       30
10481603   2  17level:unreachable shores       30
10481586   2  17level:unreachable shores       30
10481319   2    206level:3. temple ruins       26
10481320   2    206level:3. temple ruins       26
10481321   2    206level:3. temple ruins       26
10481322   2    206level:3. temple ruins       26
10481590   2  17level:unreachable shores       30
10481323   2    206level:3. temple ruins       26
10481318   2    206level:3. temple ruins       26
10481325   2    206level:3. temple ruins       26
10481498   2  17level:unreachable shores       30